おはよう。My name is Zyra, Zeph, just Z, or more recently, 雪. I've gone back to
school in Japan! I'm learning Japanese now, along with some ritual and shrine
care stuff. Right now, I spend the vast majority of my time trying to stuff ever
more complex kanji into my skull. When I'm not doing that, I like to tinker with
various computer projects, including a recent hyperconverged server that I'm
running for me and some friends. In a past life I was a sterile compounding
technician, which meant I made the drugs that would go into your IV while you
were in the hospital. My discord server is no longer public, but if you want to
reach me there's an email link below. Just make sure to remove the primitive
spam blocking solution. Or you can click the archive page to go to my old about.
