Hi. My name is Zyra, Zephyr, or more commonly, just Z. I spend the vast
majority of my time taking apart things that have no business being taken apart
or building systems that have no business being as complex as they are. In my
day to day life, I'm a sterile compounding technician, which means I make the
drugs that get connected to your IV when you're in the hospital. In my down
time, I focus on my hobbies which primarily consist of coding projects,
roleplaying, or wasting away before the blue glow of various MMOs. I primarily
like to keep to myself, which means if you want to learn more about me you'd
have better luck joining my Discord, which is linked below. Alternatively, you
can click the archive button to be taken to my old about page. To return to the
main page, click home.
